<section class="news_section padding_top_50px padding_bottom_70px top_block_border fixed_menu_margin">
  <div class="container">
    <%= render 'articles/article_list', articles: @articles %>
  </div>
</section>
