<section class="home_big_cover">
  <div class="home_big_cover_overlay"></div>

  <div class="container">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 text-center">
      <h1>We research, analyze, assess, and evaluate communication patterns and behavior</h1>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">Team</div>
    </div>
  </div>
</section>

<section id="NT" class="about_bios">
  <div class="container">
    <div class="col-sm-12 border_bottom_grey padding_bottom_forty_px">
      <div class="col-sm-3">
        <%= image_tag "NT_photo.jpg", class: "img-responsive img-circle" %>
      </div>
      <div class="col-sm-9">
        <span class="about_bio_name">Natasha Terk</span>
        <span class="about_bio_position padding_top_ten_px">Managing Director</span>

        <p class="padding_top_thirty_px">
          Natasha is the managing director of Adcom Designs. She improves communication skills and team dynamics through a relentless focus on each client’s business, brand, and competition. She manages the development of new systems, processes, and guidelines for things we don’t always quantify. Three recent years of consulting work in Asia inform the rigorous evaluation and metrics she offers our clients around the world.
        </p>

        <p>
          Over the past 14 years, Natasha has developed and delivered 972 workshops and 324 webinars, written seven books in the Write It Well Series on Business Communication, and engaged in strategic communication consulting assignments with 212 clients including Hewlett Packard Enterprise, Nestlé Health Science, Haas Business School, Bank of America Merrill Lynch, Booz Allen, the Federal Reserve Bank of San Francisco, Shakti Foundation, Climateworks Foundation, McDonald's, Mondelēz, the Packard Foundation, California Public Utilities Commission, the Federal Reserve Bank, the City of Palo Alto, and Visa.
        </p>
        <p>
          As as program officer and management consultant in belt-tightening times, Natasha led capacity-building, strategic planning, and merger and restructuring projects that broke down barriers and captured efficiencies.  Policy analysis, along with three years of consulting in Asia, sealed her conviction that all communication efforts can and should be measured and evaluated.  Today, clients across the US and in Hong Kong, India, Malaysia, Japan, Australia, Thailand, and Vietnam appreciate Natasha's cultural intelligence, her analytical skills, focus on key performance indicators, and her evaluation tools and mindset.
        </p>

        <p>
          Natasha doesn't like to sit still for any longer than necessary.  She loves adventure travel and being outdoors hiking, swimming, biking, and skiing.  She and her husband manage two busy kids; an apricot orchard; and a ranch that's home to cows, goats, and chickens.
        </p>

      </div>
    </div>
  </div>
</section>

<section id="CD" class="about_bios">
  <div class="container">
    <div class="col-sm-12 padding_top_ten_px padding_bottom_forty_px">
      <div class="col-sm-3">
        <%= image_tag "CD_photo.png", class: "img-responsive img-circle" %>
      </div>

      <div class="col-sm-9">
        <span class="about_bio_name">Christopher Disman</span>
        <span class="about_bio_position padding_top_ten_px">Manager of Content Development</span>

        <p class="padding_top_thirty_px">
          Christopher manages Adcom’s content development; he loves language as much as he loves to craft innovative solutions for our clients. He takes the time client managers can’t spare to evaluate employees’ communication challenges. He brings an experienced eye to organizational style guides and to the firm’s instructional design, custom-tailoring our solutions to help employees’ communication skills shine.
        </p>

        <p>
          He sifts through documents for patterns of ineffective language and wasted time and effort. For our clients, he customizes workshop materials, drafts new manuals, and polishes proposals, reports, and white papers – constantly on the lookout for language patterns that get results. He puts these insights to work in new editions of the workbooks in The Write It Well Series on Business Communication.
        </p>

        <p>
          Many people can be confused by rules for in-house writing. Christopher develops user-friendly style guides for city, regional, and global teams by assembling custom style guides. He demystifies ways to keep language clear and concise, and he helps all our clients project a unified, compelling voice through their on-the-job writing.
        </p>

        <p>
          He studied European and American history before earning a certificate in editing from UC Berkeley. He loves historical fiction – immersing himself in other times and places the same way he immerses himself in any client’s business goals, go-to document types, and unique voice.
        </p>

      </div>
    </div>

  </div>
</section>
